# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Node
node_modules/
dist/
*.tsbuildinfo

# pnpm
pnpm-debug.log*

# Vite
web/dist/

# Relay build
relay/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
/docs/ediabas
/docs/ovms
relay/log.txt
